.Button {
  outline: none;
  border: none;
  background-color: #e7e5e5;
  padding: 10px;
  width: 130px;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
  color: #888888;
  font-size: 13px;
  font-weight: 600;
}

.Button:focus {
  background-color: rgb(20, 211, 236);
  color: white;
}

@media screen and (max-width: 800px) {
  .Button:nth-of-type(3) {
    grid-column: span 2;
  }
}
