body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.div-util {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-sub-util {
  display: flex;
  align-items: center;
}
